.App {
  text-align: center;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

navbar {
  background: #bbb;
  display: flex;
  justify-content: space-around;
  font-size: 1.6rem;
  padding: 10px 0;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: all 0.3s linear;
}
.nav-link:hover {
  color: #8b008b;
}
